@model List<GuestBookSystem.Models.Guestbook>
@{
    ViewBag.Title = "首页";
}



<div class="panel panel-success" style="margin-top:20px">
    <div class="panel-heading">
        <h4 class="panel-title">若想留言，请先登录</h4>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-info" onclick="javascript:window.location.href='/Account/Login'">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            登录
        </button>
    </div>
</div>

@foreach (var gb in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    @gb.Title
            </h3>
        </div>
        <div class="panel-body" style="background:linear-gradient(90deg, #a1c4fd 0%,#c2e9fb 100% );">
            <p>📫邮箱：@gb.AuthorEmail</p>
            <p>⏱时间：@gb.CreatedOn</p>
            <p>👉内容：@gb.Content</p>
        </div>
    </div>


}
