
@{
    ViewBag.Title = "Index";
}


<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Admin/DeleteIndex">删除留言</a></li>
    <li role="presentation"><a href="/Admin/CheckIndex">审核留言</a></li>
    <li role="presentation"><a href="#">用户管理</a></li>
    <li role="presentation"><a href="/Admin/CommentSummary">留言统计</a></li>
    <li role="presentation"><a href="/Account/Logout">退出登陆</a></li>
</ul>
<h2 style="margin-top: 20px;">欢迎使用留言板后台管理系统</h2>
<p>😶你好，管理员。</p>

<div class="get_time" style="margin-bottom: 10px;">📅<span id="time"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

<p>如果有问题或者意见，请告诉我们。邮箱：📧chris2000520@gmail.com</p>

<script>
         function currentTime(){
        var d=new Date(),str='';
        str+=d.getFullYear()+'年';
        str+=d.getMonth() + 1+'月';
        str+=d.getDate()+'日';
        str+=d.getHours()+'时';
        str+=d.getMinutes()+'分';
        str+= d.getSeconds()+'秒';
        return str;
    }
    setInterval(function(){$('#time').html(currentTime)},1000);
</script>